footer {
    width: 100%;
    padding: 0 5% .5% 5%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    .mail{
        &::before {
            content: 'Say hello!  - ';
            color: $grayText;
        }
    }
    .socialMedia{
        &::before {
            content: 'Follow us';
            color: $grayText;
            margin-right: .7em;
        }
    }
}