.mainContainer {
    position: absolute;
    width: 92%;
    background-color: #dddddd50;
    top: 2.5em;
    bottom: 5%;
    left: 4%;
    right: 4%;
    padding-top: 10%; 
    overflow: hidden;
    @media (orientation: landscape) {
        padding-top: 3%;
    }
}
