.page {
    position: relative;
    width: 92%;
    height: 88%;
    background-color: #dddddd50;
    top: -2.2em;
    left: 4%;
    padding-top: 10%; 
    overflow: hidden;
    @media (orientation: landscape) {
        padding-top: 3%;
    }
}
